<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687006599972-olsrt4rf783igbhv6sjimea2sqhvmhqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687006599972-olsrt4rf783igbhv6sjimea2sqhvmhqf</string>
	<key>API_KEY</key>
	<string>AIzaSyAJZtkuYkeysHdvinvpsAd19m9FoJb06vM</string>
	<key>GCM_SENDER_ID</key>
	<string>687006599972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TamauzeChialngo-gmail.com.qr-users</string>
	<key>PROJECT_ID</key>
	<string>fir-mlkit-5b481</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-mlkit-5b481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687006599972:ios:7e9ff5d25619862cc541b1</string>
</dict>
</plist>